[submodule "hyperlap2d-runtime-libgdx"]
	path = hyperlap2d-runtime-libgdx
	url = https://github.com/rednblackgames/hyperlap2d-runtime-libgdx.git
[submodule "h2d-libgdx-spine-extension"]
	path = h2d-libgdx-spine-extension
	url = https://github.com/rednblackgames/h2d-libgdx-spine-extension.git
[submodule "hyperlap2d-common-api"]
	path = hyperlap2d-common-api
	url = https://github.com/rednblackgames/hyperlap2d-common-api.git
[submodule "h2d-libgdx-talos-extension"]
	path = h2d-libgdx-talos-extension
	url = https://github.com/rednblackgames/h2d-libgdx-talos-extension.git
[submodule "h2d-libgdx-typinglabel-extension"]
	path = h2d-libgdx-typinglabel-extension
	url = https://github.com/rednblackgames/h2d-libgdx-typinglabel-extension.git
[submodule "h2d-libgdx-tinyvg-extension"]
	path = h2d-libgdx-tinyvg-extension
	url = https://github.com/rednblackgames/h2d-libgdx-tinyvg-extension.git
