.DS_Store
.idea/
/build/
.gradle/
h2d-libgdx-spine-extension/build/
hyperlap2d-common-api/build/
hyperlap2d-runtime-libgdx/build/
plugin-9patch/build/
plugin-performance/build/
plugin-tiled/build/
plugin-skin-composer/build/
assets/configs/config.pit
assets/.hyperlap2d/configs/
assets/tiled.atlas
assets/tiled.png

